@charset "UTF-8";
.arrow-steps {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: #666;
  cursor: default;
  margin: 0 3px;
  padding: 10px 10px 10px 30px;
  min-width: 50px;
  float: left;
  position: relative;
  background-color: #d9e3f7;
}
.arrow-steps .step:after {
  content: " ";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #d9e3f7;
  z-index: 2;
  transition: border-color 0.2s ease;
  right: -17px;
}
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #fff;
  z-index: 2;
  transition: border-color 0.2s ease;
  left: 0;
  border-left-color: #fff;
  z-index: 0;
}
.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.arrow-steps .step:first-child:before {
  border: none;
}
.arrow-steps .step.current {
  color: #fff;
  background-color: #23468c;
}
.arrow-steps .step.current:after {
  border-left-color: #23468c;
}

.upload-button {
  margin-bottom: 10px;
}

.upload-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #64aad2;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.upload-container {
  border: 2px solid #64aad2;
  margin-inline: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 2.5px;
}

.upload-image {
  width: 100%;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.margin-top {
  margin-top: 2%;
}

#photo {
  display: none;
}

#camera-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

#camera {
  width: 100%;
  height: auto;
  display: block;
}

#oval-overlay {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 30%;
  height: 50%;
  border: 3px dashed red; /* Bordure pointillée rouge */
  border-radius: 50%/50%; /* Ovale parfait */
  pointer-events: none; /* ⚡ Très important : laisse passer les clics/captures au <video> */
}

/** ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- **/
/** ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- **/
/** ---------- ---------- ---------- ------- TOGGLE ------ ---------- ---------- ---------- **/
/** ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- **/
/** ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- **/
.toggle {
  --s: 20px; /* adjust this to control the size*/
  height: calc(var(--s) + var(--s) / 5);
  width: auto; /* some browsers need this */
  aspect-ratio: 2.25;
  border-radius: var(--s);
  margin: calc(var(--s) / 2);
  display: grid;
  cursor: pointer;
  background-color: #38acdc;
  box-sizing: content-box;
  overflow: hidden;
  transition: 0.3s 0.1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.toggle:before {
  content: "";
  padding: calc(var(--s) / 10);
  --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%,#000 96%,#0000);
  background: var(--_g) 0/var(--_p, var(--s)) 100% no-repeat content-box, var(--_g) var(--_p, 0)/var(--s) 100% no-repeat content-box, #fff;
  mix-blend-mode: darken;
  filter: blur(calc(var(--s) / 12)) contrast(11);
  transition: 0.4s, background-position 0.4s 0.1s, padding cubic-bezier(0, calc(var(--_i, -1) * 200), 1, calc(var(--_i, -1) * 200)) 0.25s 0.1s;
}

.toggle:checked {
  background-color: #3cf32b;
}

.toggle:checked:before {
  padding: calc(var(--s) / 10 + 0.05px) calc(var(--s) / 10);
  --_p: 100%;
  --_i: 1;
}

.toggle-container {
  place-items: center;
  display: flex;
  justify-content: center;
}

.ml-image {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=new_people.css.map */
