__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
build
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
wheels
pip-wheel-metadata
share/python-wheels
.vscode
.idea
.mypy_cache
.pytest_cache
*.sqlite
*.db
.env
docker-compose*


