# Virtual environments
venv/
env/

# Configuration files
*.pyc
__pycache__/
*.pyo
*.pyd

# Log files
*.log

# Database Files
*.sqlite3

# Editor Files
.vscode/
.idea/
.idea/*
/.idea/*

# Operating system files
.DS_Store
Thumbs.db

# Test files
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Distribution files
dist/
build/
*.egg-info/

# Other
/documentation/ISEP_Projects_list.xlsx
/documentation/ISEP_Project.txt

/analysis/visualizations_subject_1_pipeline

/data/gui_database.db
/data/ml_models/
/data/dataset-lfw_reconstructed/
/data/dataset-yalefaces/
