# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/server/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/client/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Virtual environments
venv/
env/

# Configuration files
*.pyc
__pycache__/
*.pyo
*.pyd

# Log files
*.log

# Database Files
*.sqlite3

# Editor Files
.vscode/
.idea/
.idea/*
/.idea/*

# Operating system files
.DS_Store
Thumbs.db

# Test files
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Distribution files
dist/
build/
*.egg-info/

# Other
/model/documentation/ISEP_Projects_list.xlsx
/model/documentation/ISEP_Project.txt

/model/analysis/visualizations_subject_1_pipeline

/model/data/gui_database.db
/model/data/ml_models/
/model/data/dataset-lfw_reconstructed/
/model/data/dataset-yalefaces/

server/src/users.json
