{% extends 'tpl/template.html' %}
{% block title %}Index{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block body %}
    <div class="center">
        <h1>🕵️‍♂️ Privacy-preserving face recognition App 🕵️‍♀️</h1>
        <hr>
        <div class="button_block"><a href="/search_people">🔎 Start 🔎</a></div>
        <img src="{{ url_for('static', filename='assets/PPFR_logo.jpeg') }}" alt="Image title" class="image">

    </div>
{% endblock %}

{% block footer %}{% include 'tpl/footer.html' %}{% endblock %}
