<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Template Page{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/template.css')}}">
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    {% block header %}{% endblock %}

    <main>
        {% block body %}Template page{% endblock %}
    </main>

    {% block footer %}{% endblock %}
</body>
</html>